        
        

        /* 标签选择器 */
        div{
            display: inline-block;
        }
        a{
            text-decoration: none;
            display: inline-block;
        }
        a:link{
            color: rgb(63, 63, 63);
        }
        a:visited{
            color:rgb(146, 93, 93)
        }
        body{
            margin: 0%;
            background-image: url("../img/6.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


        /* 类选择器 */
        .daohang{
            width: 100%;
            z-index: 1000;
            background-color: rgb(99, 41, 41);
            background:rgba(139, 31, 31, 0.5);
            height: 130px;
            float: top;
        }
        .anniu{
            float: right;
            height: 50px;
            width: 100px;
            margin: 40px 50px 0 0;
            text-align: center;
            color: rgb(56, 37, 27);
            font: normal bold 30px Microsoft yahei;
        }
        .logo{
            float: left;
            width: 250px;
            height: 120px;
            margin: 10px 0 0 50px;
            overflow: hidden;
        }
        .logo img{
            width: 100%;
            height: 100%;
        }

        .ding{
            width: 180px;
            height: 10px; 
           position: fixed;
           left: 60px;
           float: left;

        }
        .zhidingtupian{
            width: 100px;
        }
        .wenzi{
            background-color: aliceblue;
            background:rgba(252, 250, 250, 0.5);
            width: 710px;
            margin: 10px 0 0 200px;
            padding-left: 10px;
            float: left;
        }
        .lianjie{
            width: 400px;
            float: right;
            margin: 10px 100px 0 0;
            border-left: 2px solid rgb(97, 97, 97);
        }
        .dibu{
            background-color: rgb(69, 66, 66);
            width: 100%;
            height: 40px;
            margin: 20px 0 0 0;
            float: unset;
            text-align: center;
        }
        .tupian{  
            width: 700px; 
        }
        .lian1{
            background:transparent;
            font-weight: 600;
            font-size: larger;
            margin: 20px 0 0 20px;
        }
        .tupianbeizhu{
            color: rgb(142, 142, 142);
            text-align: center;
        }
        .lianjietupian{
            width: 350px;
            height: 200px;
        }
        .dibu1{
            color: rgb(250, 248, 248);
        }
        .beizhu{
            color: rgb(142, 142, 142);
        
        }